.title{
    text-align: center;
    color: plum;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkslategray;
    background-image: url("https://www.transparenttextures.com/patterns/light-gray.png");
}
